@import url(/css/index.common.css);

div#header { 
	border-bottom: 5px solid #d9d; 
	color: #939;
	text-shadow: 2px 2px 4px #fff;
	background: #f7e4e8 url('header.jpg') no-repeat right top;
	box-shadow: 2px 0 4px #939;
}

div#header h1, div#header h2 {
	text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 3px;
}

#header h1 a:hover { 
	background-color: #fee; 
}

#header #back {
	background: transparent url(/images/back-939-40px.png) no-repeat left center;
}
#header #gallery {
	background: transparent url(/images/gallery-40px.png) no-repeat center center;
}

#header #back:hover {
	background-color: #fee;
}

p#archive {
	background: #939;
	box-shadow: 2px 2px 4px #d9d;
}
p#archive a, .mfp-title a {
	color: #fef; 
	text-decoration: none;
	text-shadow: 2px 2px 2px #333;
}
p#archive a:hover, .mfp-title a:hover {
	text-shadow: 2px 2px 2px #333;
}

.mfp-title a {
	background: #939;
}
