[global]
siteroot: /path/to/website/root
templatedir: /path/to/sphog/templates

[album]
photodir: photos
template: index.tmpl
stylesheet: /css/index.white.css
thumbnail: thumbnail.jpg
thumbnail_size: 450

[photos]
thumb_prefix: thumb_
thumb_height: 290
preview_prefix: preview_
preview_height: 768

[directory]
desc: Album index
stylesheet: /css/index.white.css
thumbnail: album_thumbnail.jpg
template: directory.tmpl
