[global]
siteroot: /home/manu/www/photos
templatedir: /home/manu/scripts/photos/templates

[album]
photodir: photos
template: index.tmpl
stylesheet: /css/index.white.css
thumbnail: vignette.jpg
thumbnail_size: 450

[photos]
thumb_prefix: thumb_
thumb_height: 290
preview_prefix: preview_
preview_height: 768

[directory]
desc: Index des albums
stylesheet: /css/index.white.css
thumbnail: vignette.jpg
template: directory.tmpl
