<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
  <title>{{ directory.name }} - Index des albums</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ directory.stylesheet }}">
</head>

<body>

<header>
    <p id="back"><a id="back-btn" href="{{ directory.parent }}" title="Retour à l'index des photos"><span>&lt;</span></a></p>
    <section id="header-text">
      <h1>{{ directory.name }}</h1>
      <section id="desc">Index des albums</section>
    </section>
</header>

<main id="gallery-index">
{% for subdir in directory.children %}
  <figure style="width: 300px; flex-grow: 300;">
    <a href="{{ subdir.url }}" title="{% if subdir.type in 'album' %}{{subdir.index_desc|striptags}}{% else %}{{ subdir.name }}{% endif %}">
      <img src="{{ subdir.url }}/{{ subdir.thumbnail }}" />
      <figcaption>{% if subdir.type in 'album' %}
        <p class="titre">{{ subdir.index_desc }}</p>
        <p class="soustitre">{{ subdir.date }} ({{ subdir.count }} photos)</p>{% else %}
        <p class="titre">{{ subdir.name }}</p>
        <p class="soustitre">{{ subdir.desc|striptags }}</p>{% endif %}
      </figcaption>
      <i></i>
    </a>
  </figure>
{% endfor %}
</main>

</body>
</html>
