<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
  <title>{{ album.name }} - {{ album.desc }} ({{ album.date }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.collagePlus.0.3.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.removeWhitespace.0.3.3.min.js"></script>
  <script type="text/javascript" src="/js/jquery.collageCaption.0.3.3.min.js"></script>
  <script type="text/javascript" src ="/js/jquery.magnific-popup.1.1.0+manu.min.js"></script>
  <script type="text/javascript" src="/js/collage.init.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/collagePlus-transitions.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" media="all" />
  <style type="text/css" media="screen">
	@import url({{ album.stylesheet }});
  </style>
  <base href="{{ album.base }}" />
</head>

<body id="indexPage">

<div id="header">
  <a id="back" href="{{ album.parent }}" title="retour à l'index"><span>&lt;</span></a>
  <h1>{{ album.name }}</h1>
  <h2>{{ album.desc }} ({{ album.date }})</h2>
  <p id="archive"><a href="{{ album.archive }}">T&eacute;l&eacute;charger toutes les photos</a></p>
</div>

<div class="spinner">
	<img src="/images/spinner.gif" />
</div>

<div id="indexContent" class="Collage effect-parent">
{% for photo in album %}
	<a href="{{ photo.preview }}" title="{{ photo.desc }}" data-source="{{ photo.href }}" data-caption="{{ photo.desc }}"><img src="{{ photo.thumb }}" /></a>
{% endfor %}
</div>

</body>
</html>
